
.my-thead{
	background-color: #584dda;
	color: #FFFFFF;
}

#admin {
	text-align:center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
#botonesHistorialInspeccionesView {
	justify-content: center;
	padding-top: 50px;
}

#botonRegistrarInforme {
	margin: 20px;
	justify-content: center;
}

#informeRegistrarInspeccion {
	margin: 30px
}

#margen {
	padding-bottom: 50px;
}

#mapa {
	padding-left: 2000px;
	height:100px;
	width:500px;
	
}
#botones {
	padding-top: 50px;
}