
footer{
	background-color: #584dda;
	width: 100%;
	bottom:0;	
	position:absolute;
}

footer div.logo{
	position: relative;
	text-align: center;
	margin-top: 10px;
}

footer div.texto{
	text-align: center;
}
