html{
	background-color: #ffffff;
}

body{
	margin: 0;
}

body div.contenido_pagina{
	margin: 10px;
  	position: center;
}

header{
	background-color: #584dda;
	margin-top:0;
	margin-bottom:50px;
}

header div.logo{
	float: left;
}

header div.button{
	display: inline-block;
	padding: 15 px;
	box-sizing: border-box;
	float: right;
	margin-top: 35px;
	margin-right: 25px;
}

header div.logout{
	width:30 px;
	height:30 px;
	float: right;
	margin-top: 35 px;
	margin-right: 25 px;
}

header div.perfil{
	float:right;
	margin-top: 35 px;
	margin-right: 100 px;
}




